@import "tailwindcss";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  /* ACCENT COLORS */
  --clr-blue: #1a58bb;
  --clr-green: #11a665;
  --clr-green-dark: #084a2d;
  --clr-teal: #1ab2cd;
  --clr-teal-dark: #0e6271;
  --clr-red: #bc2f00;
  --clr-red-dark: #651a01;
  --clr-yellow: #e99b1f;
  --clr-yellow-dark: #be7e16;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: var(--color-blue-400) !important;
  }
}

@theme inline {
  /* COLORS */
  --color-blue: var(--clr-blue);
  --color-green: var(--clr-green);
  --color-green-dark: var(--clr-green-dark);
  --color-teal: var(--clr-teal);
  --color-teal-dark: var(--clr-teal-dark);
  --color-red: var(--clr-red);
  --color-red-dark: var(--clr-red-dark);
  --color-yellow: var(--clr-yellow);
  --color-yellow-dark: var(--clr-yellow-dark);

  /* FONTS */
  --font-body: var(--font-inter);
  --font-accent: var(--font-spartan);

  /* ANIMATIONS */
  --animate-orbit: orbit 10s linear infinite;
  @keyframes orbit {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --animate-counter-orbit: counter-orbit 10s linear infinite;
  @keyframes counter-orbit {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  --animate-scroll-horizontal: scroll-horizontal 20s linear infinite;
  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

a {
  width: max-content;
}

a:hover {
  color: var(--color-blue-500);
}
